
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca - admin</title>
    <link rel="stylesheet" th:href="@{/css/styleLivroAdmin.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">

</head>
<body>

<div class="cabecalho">
    <img th:src="@{/images/BIBLIOTECH.png}" alt="logo">
    <h1>Bibliotech</h1>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Sair</button>
    </form>
    <a class="btn-novo" th:href="@{/home/cadastroLivro}" sec:authorize="hasRole('ADMIN')">+ Novo livro</a>
</div>

<div class="grade">

    <div class="card" th:each="livro : ${livros}">
        <img th:src="${livro.urlCapa}" th:alt="${livro.nome}">
        <p class="card-nome" th:text="${livro.nome}"></p>
        <p class="card-autor" th:text="${livro.autor}"></p>
        <div class="card-acoes">
            <a class="btn-editar" th:href="@{/home/editarLivro/{id}(id=${livro.id})}" sec:authorize="hasRole('ADMIN')">Editar</a>
            <a class="btn-excluir" th:href="@{/home/excluir/{id}(id=${livro.id})}" sec:authorize="hasRole('ADMIN')">Excluir</a>
            <form th:action="@{/home/alugar/{id}(id=${livro.id})}" method="post">
                <button type="submit" class="btn-excluir">Alugar</button>
            </form>
        </div>
    </div>

    <p th:if="${livros.isEmpty()}">Nenhum livro encontrado</p>

</div>

</body>
</html>
